<form action="/celulares/agregar" method="POST">

    <div>
        <label for="clave">Escriba la Clave de Venta del Celular:</label>
        <input type="text" name="clave" placeholder="#####" id="clave">
    </div>

    <div>
        <label for="marca">Escriba la marca del Celular:</label>
        <input type="text" name="marca" placeholder="HP" id="marca">
    </div>

    <div>
        <label for="precio">Escriba el precio del Celular:</label>
        <input type="text" name="precio" placeholder="1999.00" id="precio">
    </div>

    <div>
        <label for="fechaLanzamiento">Escriba la fecha en la que se lanzo el dispositivo:</label>
        <input type="date" name="fechaLanzamiento" placeholder="####-##-##" id="fechaLanzamiento">
    </div>

    <div>
        <label for="ram">Escriba la ram del Celular:</label>
        <input type="number" name="ram" placeholder="__ GB" id="ram">
    </div>
    
    <div>
        <label for="almacenamiento">Escriba el Almacenamiento que tiene el dispositivo:</label>
        <input type="number" name="almacenamiento" placeholder="__ GB" id="almacenamiento">
    </div>

    <div>
        <label for="cantCamaras">Ingrese con cuantas Camaras cuenta el dispositivo:</label>
        <input type="number" name="cantCamaras" placeholder="__ Camaras" id="canCamaras">
    </div>
    <button>Agregar</button>
</form>